
  <nav class="navbar navbar-default navbar-fixed-top" [ngsReveal]="{ duration: 2000, origin:'bottom' }">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Sendax</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/']" fragment="showcase">Home</a></li>
            <li><a [routerLink]="['/']" fragment="info1">About</a></li>
            <li><a [routerLink]="['/orders']" href="" >Orders</a></li>
            <li><a [routerLink]="['/']" fragment="contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <router-outlet></router-outlet>
    <footer owner="Sendax Copyright &copy;"></footer>